<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            {{ body | safe }}
        </div>
    </div>
    <script type="text/javascript">
        document.addEventListener('copy', (event) => {
            event.clipboardData.setData('text', document.getSelection() + '\n\n{{tracker}}');
            event.preventDefault();
        });
    </script>
</body>

</html>
