<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
div.jumbotron {
    background-color: white;
    border: 1px solid #ddd;
}

tbody tr:nth-child(odd){
    background-color: #f6f8fa;
}

pre {
    background-color: #f6f8fa;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

table {
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #eee;
    padding: 5px;
}
</style>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            {{ body | safe }}
        </div>
    </div>
    <script type="text/javascript">
        document.addEventListener('copy', (event) => {
            event.clipboardData.setData('text', document.getSelection() + '\n\n{{tracker}}');
            event.preventDefault();
        });
    </script>
</body>

</html>
